# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

.Rproj.user

planning/FP_0015_B.pdf
planning/FP_0015_B-TESA-ageing-workshop.pdf
planning/Request for Services - Demande de services-TESA-ageing-workshop.docx
planning/FP_0352-TESA-ageing-workshop.pdf
planning/FP_0352.pdf